<figure class="text-center">
  <h1 class="important">Add your guest</h1>
  <blockquote class="blockquote">
    <p>"The best company that manages your guests"</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Someone famous in <cite title="Clone Twitter? o.O">Threads</cite>
  </figcaption>
</figure>
<form action="">
  {% csrf_token %}
  <input class="form-control form-control mt-2" type="text" placeholder="Firstname"/>
  <input class="form-control mt-2" type="text" placeholder="Lastname"/>
  <input class="form-control form-control-sm mt-2" type="number" placeholder="Grade"/>
  <input class="form-control form-control-sm mt-2" type="text" placeholder="email@email.com"/>
  <input class="btn btn-primary mt-3" type="submit" value="Register Guest">
</form>
